/* src/Components/Profile/Profile.css */

.profile-container {
    padding: 40px;
    text-align: center;
}

.profile-container h1 {
font-size: 2rem;
margin-bottom: 20px;
}

.profile-container p {
font-size: 1.2rem;
color: #666;
}

.profile-image {
width: 150px;
margin-top: 20px;
border-radius: 50%;
/* z-index: 2; */
}

.square {
width: 500px;            /* Make it a square */
height: 800px;
background-color: white;   /* Color it red */
margin: 20px auto;       /* Center horizontally */
border: 2px solid black; /* Optional border */
border-radius: 8px;      /* Optional rounded corners */
position: relative;
top: -100px;
left: -650px;
/* z-index: 1; */
}